@charset "utf-8";
@font-face{
	font-family:Lobster;
	src:url("../font/Lobster.otf");
	font-stretch:normal;
	font-weight:normal;
}
*{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}
::-webkit-input-placeholder {
    color:rgba(96,71,60,0.8);
}
:-moz-placeholder {
    color:rgba(96,71,60,0.8);
}
::-moz-placeholder {
    color:rgba(96,71,60,0.8);
}
:-ms-input-placeholder {
    color:rgba(96,71,60,0.8);
}
#pizzaName::-webkit-input-placeholder {
    color:rgb(252,176,60);
}
#pizzaName:-moz-placeholder {
    color:rgb(252,176,60);
}
#pizzaName::-moz-placeholder {
    color:rgb(252,176,60);
}
#pizzaName:-ms-input-placeholder {
    color:rgb(252,176,60);
}
html{
	font-size:62.5%;
	-webkit-font-smoothing: antialiased;
}
a,#signOut{
	color:rgb(252,176,60);
}
a:hover,a:active{
	color:#FFF;
}
body{
	font-size:1.6rem;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;;
}
h1,h2,h3,h4,h5,h6,.h1Style,.center{
	margin:0;
}
h1,h2,.h1Style{
	text-align:center;
}
h1,.h1Style{
	font-family:Lobster,Helvetica,sans-serif;
	font-size:2.4rem;
	color:#FFF;
}
h2{
	color:#FFF;
	font-size:2rem;
	font-family:Helvetica, sans-serif;
	margin:2rem 0;
}
h4{
	width: 44%;
	margin-right:2%;
	font-size: 1.4rem;
}
section{
	background: url('../images/PizzaBackgroundSmall.jpg') no-repeat;
	background-position: 0px 0px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width:100%;
	min-height:56.9rem;
	height:56.9rem;
	position:relative;
	clear:both;
}
section:not(:first-child){
	display:none;
}
section>header+div{
	overflow:hidden;
}
footer{
	border-top:1rem solid rgb(252,176,60);
	background:rgb(195,40,46);
	text-align:center;
	padding:.5rem 0 1rem 0;
	position:absolute;
	width:100%;
	left:0;
	bottom:0;
	z-index:98;
}
header{
	position:relative;
	z-index:100;
	background:rgba(0,0,0,0.3);
}
header>h1{
	line-height:2.1;
	margin-right:5rem;
}
h5{
	color:#FFF;
	font-size:2.4rem;
	font-family:Lobster;
	cursor:pointer;
}
[src='images/redGear.svg']{
	cursor:pointer;
	width:3.5rem;
	height:3.5rem;
	margin:0.75rem;
}
[src='images/Bike.png']{
	width:4rem;
	height:4rem;
}
.u{
	text-decoration:underline;
}
.fL{
	float:left;
}
.fR{
	float:right;
}
.mt20{
	margin-top:2rem;
}
.slideUp{
	-webkit-animation-name: slideUp;
	-webkit-animation-duration: 250ms;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-play-state: running;
	-webkit-animation-fill-mode: forwards;
}
.slideDown{
	-webkit-animation-name: slideDown;
	-webkit-animation-duration: 250ms;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-play-state: running;
	-webkit-animation-fill-mode: forwards;
}
.smChev,footer .aChev,header .aChev{
	font-size: 5rem;
	font-weight: normal;
	line-height: 0.5;
	margin-left: 1rem;
	font-family:Arial, Helvetica, sans-serif;
}
h4.orderOpt,#orderOptions > div:first-child{
	width:100%;
}
h4.orderOpt{
	cursor:pointer;
}
.pizzArrow{
	color:white;
	font-size:4.6rem;
	margin:5.5rem 2rem 2rem 2rem;
	cursor:pointer;	
}
.pizzArrow,.ribbon{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.vBottom{
	vertical-align:bottom;
}
.transBkgd{
	background:rgba(255,255,255,0.2);
	padding:1rem 1rem 0.5rem 1rem;
}
.infoWrapper{
	margin:0.8rem;
	border-radius:.5rem;
	background:rgb(254,249,241);
	color:rgb(96,71,60);
}
.infoWrapper > div:not(:last-child):not(#abtContentWrapper):not(#legalContentWrapper):not(#supportContentWrapper),.infoWrapper>#someToppings{
	border-bottom:1px dashed rgb(96,71,60);	
}
.infoWrapper input[type=text],.infoWrapper input[type=number],.infoWrapper input[type=password],.infoWrapper input[type=email],.infoWrapper select{
	background:rgb(252,176,60);
	border:1px solid rgb(96,71,60);	
	width:47%;
	padding-left:.5rem;
	outline:none;
	
}
.infoWrapper,.infoWrapper div,.infoWrapper input,.infoWrapper h4,.infoWrapper h3,.infoWrapper>#someToppings{
	float:left;
}
.infoWrapper>div:not(#abtContentWrapper):not(#legalContentWrapper):not(#supportContentWrapper),#abtContent>p,#legalContent>p,#supportContent>p,.infoWrapper>#someToppings{
	width:96%;
	padding:1rem .5rem;
}
#abtContentWrapper,#legalContentWrapper,#supportContentWrapper{
	width:100%;
}
#abtContent,#legalContent,#supportContent{
	width:96%;
}
.tapAddTxt{
	text-align: center;
	font-size: 1rem;
	color: white;
}
.next{
	margin:1rem;
	border-radius:.5rem;
	background:rgb(254,249,241);
	clear:both;
	box-shadow:.2rem .2rem 1rem #000;
	cursor:pointer;
}
.next:not([name=editClick]):active,.tipSelected{
	box-shadow:.2rem .2rem 1rem #000 inset;
}
.bigRed{
	font-size:2.4rem;
	text-align:center;
	color:rgb(195,40,46);
	line-height:1.5;
}
.redBrdr{
	border:3px solid red !important;
}
.clearFix:after,section>div:after {
     content: " ";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.topping{
	cursor:pointer;
	float:left;
	background-size:30.7rem 8.4rem !important;
}
.userOpt{
	font-style:italic;
	text-align:center;
	margin-top:5rem;
	color:white;	
}
.nD{
	display:none;
}
.cRed,.cRed>.ui-button-text{
	color:rgb(195,40,46);
}
.cOrange,.cOrange>.ui-button-text{
	color:#FCB03C;
}
.aChev{
	font-size:7rem;
	color:#FFF;
}
.pl10{
	padding-left:1rem;
}
.rInfo{
	float:right !important;
	text-align:right;
	margin-right:5%;
}
.ribbon {
	font-size: 1.4rem !important;
	width: 40%;
	position: relative;
	background:#806C63;
	color: white;
	text-align: center;
	padding: .6rem 3.2rem;
	margin: 0 auto 1.5rem;
}
.ribbon-content{
	width:110%;
	margin-left:-5%;
}
.ribbon:before, .ribbon:after {
	content: "";
	position: absolute;
	display: block;
	bottom: -1.5rem;
	border: 1.5rem solid #705950;
	z-index: -1;
}
.ribbon:before {
	left: -2rem;
	border-right-width: 2rem;
	border-left-color: transparent;
}
.ribbon:after {
	right: -2rem;
	border-left-width: 2rem;
	border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
	content: "";
	position: absolute;
	display: block;
	border-style: solid;
	border-color: #60473C transparent transparent transparent;
	bottom: -1.5rem;
	/*#FCB03C*/
}
.ribbon .ribbon-content:before {
	left: 0;
	border-width: 1.5rem 0 0 1.5rem;
}
.ribbon .ribbon-content:after {
	right: 0;
	border-width: 1.5rem 1.5rem 0 0;
}
.ribbon-wrapper{
	position:relative;
	z-index:1;
	margin-top:-3.5rem;
}
.pntr{
	cursor:pointer;
}
.b{
	font-weight:bold;
}
.tip{
	width: 27%;
	float: left;
	clear: none;
	margin-bottom: 2rem;
}
.lh15{
	line-height:1.5;
}
.w60{
	width:60%;
}
.editButton{
	background: #7d81be;
	background: -moz-linear-gradient(top, #7d81be 0%, #c5e9f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d81be), color-stop(100%,#c5e9f2));
	background: -webkit-linear-gradient(top, #7d81be 0%,#c5e9f2 100%);
	background: -o-linear-gradient(top, #7d81be 0%,#c5e9f2 100%);
	background: -ms-linear-gradient(top, #7d81be 0%,#c5e9f2 100%);
	background: linear-gradient(to bottom, #7d81be 0%,#c5e9f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d81be', endColorstr='#c5e9f2',GradientType=0 );
	line-height:1.2;
	border-radius:1rem/.5rem;
	color: white;
	font-size: 1.4rem;
	padding: .1rem .5rem;
	font-weight: bold;
	position:absolute;
	right:2rem;
	margin-top:.9rem;
	z-index:1000;
}
.aSlider{
	width: 1rem; 
	background: rgba(195,40,46,.2);  
	float:right !important; 
	border: none;
	border-radius:0 0 .5rem 0;
	cursor:pointer;	
}
.ovrFlwHide{
	overflow:hidden;
}
p.question{
	font-weight:bold;
	font-size:1.6rem;
}
#aboutSlider,#legalSlider,#supportSlider{
	border-radius:1rem; 
	height:2rem; 
	width:1rem; 
	background:rgb(195,40,46); 
	cursor:move;
	top:0;
}
.h380{
	height:38rem;
}
.backslash{
	font-size: 2.5rem;
	line-height: 1.1;
	margin-left:1%;
}
.tinytxt{
	font-size:1rem;
}
input[type=text].w40{
	width:40%;
}
#abtContentWrapper,#legalContentWrapper,#supportContentWrapper{
	overflow:hidden;
	height:38rem;
}
#deleteAddress{
	background: rgb(195,40,46);
	color: rgb(254,249,241);
	margin-left: 2rem;
	line-height: 1.7;
	font-size: 1.4rem;
	padding: 0 1rem;
	border-radius: 1rem;
	cursor:pointer;
}
#noRests{
	width: 100%;
	color: red;
	text-align: center;	
}
#deliveryLoc>.infoWrapper>div,.infoWrapper>#someToppings{
	padding:1rem .5rem;
}
#deliveryLoc>.infoWrapper{
	margin:3rem 1rem;
}
#splashPage{
	background:rgb(254,225,182);
	text-align:center;
}
#splashImg{
	margin-top:1.5rem;
}
#container{
	width:32rem;
	margin:0 auto;
	height:56.9rem;
	overflow:hidden;
}
#pizzaCircle{
	width:16rem;
	margin-left:25%;
	height:16rem;
	border-radius:16rem;
	box-shadow:0 0 2.5rem -.5rem black inset;
	border:1rem solid #FFF;
	margin:0 auto;
	color:white;
}
#orderOptions,.w94{
	width:94%;
}
#orderOptions{
	line-height:2;
}
#pizzaToppings{
	float:left;
	margin:1.5rem 0 0 1.5rem;
}
#cheeseTopping{
	background: url('../images/Toppings.png') 0 0;
	height:3rem;
	width:5rem;
}
.chSelect{
	background-position:0 3rem !important;
}
#pepperoniTopping{
	background: url('../images/Toppings.png') 24.5rem 0;
	height:3rem;
	width:4rem;
}
.peSelect{
	background-position: 24.5rem 3rem !important;
}
#sausageTopping{
	background: url('../images/Toppings.png') 19.5rem 0;
	height:3rem;
	width:4rem;
}
.saSelect{
	background-position: 19.5rem 3rem !important;
}
#p3ppersTopping{
	background: url('../images/Toppings.png') 14.5rem 0;
	height:3rem;
	width:4rem;
}
.p3Select{
	background-position: 14.5rem 3rem !important;
}
#olivesTopping{
	background: url('../images/Toppings.png') 11rem 0;
	height:3rem;
	width:4rem;
}
.olSelect{
	background-position: 11rem 3rem !important;
}
#onionsTopping{
	background: url('../images/Toppings.png') 7rem 0;
	height:3rem;
	width:3.5rem;
}
.onSelect{
	background-position: 7rem 3rem !important;
}
#mushroomsTopping{
	background: url('../images/Toppings.png') 3rem 0;
	height:3rem;
	width:3rem;
}
.muSelect{
	background-position: 3rem 3rem !important;
}
#someToppings{
	margin:0;
	padding:0;
	list-style:none;
}
#someToppings>li{
	float:left;
	margin-left:1rem;
	font-size:1.2rem;
	text-transform:uppercase;
	color:rgb(252,176,60);
}
#h3Ord{
	width:100%;
	text-align:center;
	line-height:0;
	padding:5px 0;
}
#h3Ord + div{
	width:15%;
}
#expMo{
	width:15%;
}
#expYr{
	width:18%;
	float:right;
	margin-right:1.5rem;
}
#loader{
	margin-left:1rem;
	height: 1.6rem;
	width: 1.6rem;
}
#loader.bigLoader{
	height:5rem;
	width:5rem;
	margin:14.5rem 0 0 15.7rem;
	position: absolute;
}
#addPizza{
	cursor:pointer;
}
#firstName,#lastName{
	width:100%;
}
#yourEmail{
	width:90%;
	position:absolute;
}
/*android*/
#menuOptions{
	position: absolute;
	list-style: none;
	background: rgb(254,249,241);
	width: 50%;
	margin:0 0 0 25%;
	padding: 0;
	box-shadow: 0px 0px 10px rgb(195,40,46);
	padding-bottom: 10px;
	bottom: 0;
	z-index:100;
	display:none;
}
#menuOptions > li{
	line-height: 1.5;
	color: rgb(195,40,46);
	border-bottom: 1px solid rgb(195,40,46);
	padding: 5px;	
}
/*end android*/
#pizzaName{
	width:90%;
	font-size:2.3rem;
	background:none;
	border:none;
	outline:none;
	margin-left:1rem;
}
#pizzaName.redBrdr{
	margin-left: 0.6rem;
	padding: 0 0.5rem;
	border-radius: 20px;
}
#savedPizzaName{
	text-align: center;
}
#signOut{
	clear:both;
	float:left;
	width:100%;
	margin:1.5rem 0;
	font-size:1.8rem;
	text-align:center;
}
.pizzaCircleContent{
	font-family: Lobster;
	font-size: 3rem;
	letter-spacing: 0.2rem;
	color: rgb(252,176,60);
	margin-top: 30%;
}
h4.downArrow:after{
	content:"";
	border:1rem solid transparent;
	border-top:1.5rem solid rgb(195,40,46);;
	margin-top:0.2rem;
	position:absolute;
	margin-left:16.6rem;
}
/*android*/
header .aChev{
	margin-top:.9rem;
}
#pickSpot>footer .smChev{
	font-size:7rem;
}
#pickSpot>footer .pl10{
	font-size:3.4rem;
}
header>h1{
	margin-left:5rem;
	margin-right:0;
}
#overlay{
	position:absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
    z-index: 99;
}