<?xml version="1.0" encoding="utf-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.speedslice.speedsliceapp"
	versionCode="10" 
    version   = "1.0.0">

	<name>SpeedSlice</name>

	<description>
		An app for ordering pizza with a few clicks.
	</description>

	<author href="http://github.com/willyboy"
		email="support@speedslice.com">
		William Neely
	</author>
	<preference name="phonegap-version" value="2.2.0" />
	<preference name="permissions" value="none"/>
	<preference name="fullscreen" value="true" />
	<icon src="images/App_Icon.png" gap:role="default" />
	<gap:splash src="images/splash.png" />
	<preference name="splash-screen-duration" value="4000" />
    
	<gap:plugin name="ChildBrowser" />
	<preference name="orientation" value="portrait" />
	<preference name="webviewbounce" value="false" />	
	<preference name="show-splash-screen-spinner" value="false" />
	<preference name="target-device" value="handset" />
</widget>