<?xml version="1.0" encoding="utf-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "SpeedSlice">

	<name>SpeedSlice</name>

	<description>
		An app for ordering pizza with a few clicks.
	</description>

	<author href="http://github.com/willyboy"
		email="support@speedslice.com">
		William Neely
	</author>
	<preference name="orientation" value="portrait" />
	<preference name="phonegap-version" value="2.3.0" />
	<preference name="permissions" value="none"/>
	<preference name="fullscreen" value="true" />
	<icon src="images/App_Icon.png" gap:role="default" />
	<preference name="splash-screen-duration" value="3000" />
    <gap:splash src="images/splash.png" />
	<preference name="webviewbounce" value="false" />
</widget>