@charset "utf-8";
@font-face{
	font-family:Lobster;
	src:url("../font/Lobster.otf");
	font-stretch:normal;
	font-weight:normal;
}
*{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}
::-webkit-input-placeholder {
    color:rgba(96,71,60,0.8);
}
:-moz-placeholder {
    color:rgba(96,71,60,0.8);
}
::-moz-placeholder {
    color:rgba(96,71,60,0.8);
}
:-ms-input-placeholder {
    color:rgba(96,71,60,0.8);
}
html{
	font-size:62.5%;
}
a{
	color:rgb(252,176,60);
}
a:hover,a:active{
	color:#FFF;
}
body{
	font-size:1.6rem;
}
h1,h2,h3,h4,h5,h6,.h1Style,.center{
	margin:0;
}
h1,h2,.h1Style{
	text-align:center;
}
h1,.h1Style{
	font-family:Lobster,Helvetica,sans-serif;
	font-size:2.4rem;
	color:#FFF;
}
h2{
	color:#FFF;
	font-size:2rem;
	font-family:Helvetica, sans-serif;
	margin:2rem 0;
}
h4{
	width: 44%;
	margin-right:2%;
	font-size: 1.4rem;
}
section{
	width:100%;
	min-height:58rem;
	height:58rem;
	position:relative;
	clear:both;
}
section{
	background: url('../images/PizzaBackgroundSmall.jpg') no-repeat;
	background-position: -10px 0px;
	/*background-attachment: fixed;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
section:not(:first-child){
	display:none;
}
footer{
	border-top:1rem solid rgb(252,176,60);
	background:rgb(195,40,46);
	text-align:center;
	padding:.5rem 0 1rem 0;
	position:absolute;
	width:100%;
	left:0;
	bottom:0;
}
header{
	background:rgba(0,0,0,0.3);
}
header>h1{
	line-height:2.1;
	margin-right:5rem;
}
h5{
	color:#FFF;
	font-size:2.4rem;
	font-family:Lobster;
	cursor:pointer;
}
[src='images/Gear.png']{
	cursor:pointer;
}
.fL{
	float:left;
}
.fR{
	float:right;
}
.mt20{
	margin-top:2rem;
}
.smChev,footer .aChev{
	font-size: 5rem;
	font-weight: normal;
	line-height: 0.5;
	margin-left: 1rem;
	font-family:Arial, Helvetica, sans-serif;
}
h4.orderOpt,#orderOptions > div:first-child{
	width:100%;
}
h4.orderOpt{
	cursor:pointer;
}
.pizzArrow{
	color:white;
	font-size:4.6rem;
	margin:6.5rem 2rem 2rem 2rem;
	cursor:pointer;	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.vBottom{
	vertical-align:bottom;
}
.transBkgd{
	background:rgba(255,255,255,0.2);
	padding:1rem 1rem 0.5rem 1rem;
}
.infoWrapper{
	margin:1rem;
	border-radius:.5rem;
	background:rgb(254,249,241);
	color:rgb(96,71,60);
}
.infoWrapper > div:not(:last-child):not(#abtContentWrapper):not(#legalContentWrapper){
	border-bottom:1px dashed rgb(96,71,60);	
}
.infoWrapper input[type=text],.infoWrapper input[type=password],.infoWrapper input[type=email],.infoWrapper select{
	background:rgb(252,176,60);
	border:1px solid rgb(96,71,60);	
	width:47%;
	padding-left:.5rem;
	outline:none;
	
}
.infoWrapper,.infoWrapper div,.infoWrapper input,.infoWrapper h4,.infoWrapper h3{
	float:left;
}
.infoWrapper>div:not(#abtContentWrapper):not(#legalContentWrapper),#abtContent>p,#legalContent>p{
	width:96%;
	padding:.5rem .5rem;
}
#abtContentWrapper,#legalContentWrapper{
	width:100%;
}
#abtContent,#legalContent{
	width:96%;
}
.tapAddTxt{
	text-align: center;
	font-size: 1.2rem;
	margin-top: .5rem;
	color: white;
}
.next{
	margin:1rem;
	border-radius:.5rem;
	background:rgb(254,249,241);
	clear:both;
	box-shadow:.2rem .2rem 1rem #000;
	cursor:pointer;
}
.next:not([name=editClick]):active,.tipSelected{
	box-shadow:.2rem .2rem 1rem #000 inset;
}
.bigRed{
	font-size:2.4rem;
	text-align:center;
	color:rgb(195,40,46);
	line-height:1.5;
}
.redBrdr{
	border:2px solid red !important;
}
.clearFix:after {
     content: " ";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.topping{
	cursor:pointer;
	float:left;
}
.userOpt{
	font-style:italic;
	text-align:center;
	margin-top:5rem;
	color:white;	
}
.nD{
	display:none;
}
.cRed,.cRed>.ui-button-text{
	color:rgb(195,40,46);
}
.cOrange,.cOrange>.ui-button-text{
	color:#FCB03C;
}
.aChev{
	font-size:7rem;
	color:#FFF;
}
.pl10{
	padding-left:1rem;
}
.rInfo{
	float:right !important;
	text-align:right;
	margin-right:5%;
}
.ribbon {
	font-size: 1.6rem !important;
	width: 40%;
	position: relative;
	background:#806C63;
	color: white;
	text-align: center;
	padding: .6rem 3.2rem;
	margin: 0 auto 1.5rem;
}
.ribbon:before, .ribbon:after {
	content: "";
	position: absolute;
	display: block;
	bottom: -1.5rem;
	border: 1.5rem solid #705950;
	z-index: -1;
}
.ribbon:before {
	left: -2rem;
	border-right-width: 2rem;
	border-left-color: transparent;
}
.ribbon:after {
	right: -2rem;
	border-left-width: 2rem;
	border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
	content: "";
	position: absolute;
	display: block;
	border-style: solid;
	border-color: #60473C transparent transparent transparent;
	bottom: -1.5rem;
	/*#FCB03C*/
}
.ribbon .ribbon-content:before {
	left: 0;
	border-width: 1.5rem 0 0 1.5rem;
}
.ribbon .ribbon-content:after {
	right: 0;
	border-width: 1.5rem 1.5rem 0 0;
}
.ribbon-wrapper{
	position:relative;
	z-index:1;
	margin-top:-3.5rem;
}
.pntr{
	cursor:pointer;
}
.b{
	font-weight:bold;
}
.tip{
	width: 27%;
	float: left;
	clear: none;
	margin-bottom: 2rem;
}
.lh15{
	line-height:1.5;
}
.w60{
	width:60%;
}
.removePizza{
	line-height: 1;
	width: 1.3rem;
	background: rgb(195,40,46);
	text-align: center;
	color: rgb(254,249,241);
	border-radius: 1.6rem;
	font-size: 1.3rem;
	cursor: pointer;
	margin: .4rem 0 0 1rem;
	padding: .2rem;
}
.stretchX{
	transform: scale(1.5,1);
	-webkit-transform: scale(1.5,1);
	-ms-transform:scale(1.5,1);
	-o-transform: scale(1.5,1);
	-moz-transform: scale(1.5,1);
	padding-left: .2rem;
	padding-right: .2rem;
	font-weight:bold;
}
.editButton{
	background: #7d81be;
	background: -moz-linear-gradient(top, #7d81be 0%, #c5e9f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d81be), color-stop(100%,#c5e9f2));
	background: -webkit-linear-gradient(top, #7d81be 0%,#c5e9f2 100%);
	background: -o-linear-gradient(top, #7d81be 0%,#c5e9f2 100%);
	background: -ms-linear-gradient(top, #7d81be 0%,#c5e9f2 100%);
	background: linear-gradient(to bottom, #7d81be 0%,#c5e9f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d81be', endColorstr='#c5e9f2',GradientType=0 );
	line-height:1.2;
	border-radius:1rem/.5rem;
	color: white;
	font-size: 1.4rem;
	padding: .1rem .5rem;
	font-weight: bold;
	position:absolute;
	right:2rem;
	margin-top:.9rem;
	z-index:1000;
}
.aSlider{
	width: 1rem; 
	background: rgba(195,40,46,.2);  
	float:right !important; 
	border: none;
	border-radius:0 0 .5rem 0;
	cursor:pointer;	
}
#aboutSlider,#legalSlider{
	border-radius:1rem; 
	height:2rem; 
	width:1rem; 
	background:rgb(195,40,46); 
	cursor:move;
	top:0;
}
.h380{
	height:38rem;
}
input[type=text].w40{
	width:40%;
}
#abtContentWrapper,#legalContentWrapper{
	overflow:hidden;
	height:38rem;
}
#deleteAddress{
	background: rgb(195,40,46);
	color: rgb(254,249,241);
	margin-left: 2rem;
	line-height: 1.7;
	font-size: 1.4rem;
	padding: 0 1rem;
	border-radius: 1rem;
	cursor:pointer;
}
#noRests{
	width: 100%;
	color: red;
	text-align: center;	
}
#deliveryLoc>.infoWrapper>div{
	padding:1rem .5rem;
}
#deliveryLoc>.infoWrapper{
	margin:3rem 1rem;
}
#splashPage{
	background:rgb(254,225,182);
	text-align:center;
}
#splashImg{
	margin-top:1.5rem;
}
#container{
	width:32rem;
	margin:0 auto;
	height:58rem;
	overflow:hidden;
}
#pizzaCircle{
	width:16rem;
	margin-left:25%;
	height:16rem;
	border-radius:16rem;
	box-shadow:0 0 2.5rem -.5rem black inset;
	border:1rem solid #FFF;
	margin:0 auto;
	background:rgb(252,176,60);	
	color:white;
}
#orderOptions,.w94{
	width:94%;
}
#orderOptions{
	line-height:2;
}
#pizzaToppings{
	float:left;
	margin:1.5rem 0 0 1.5rem;
}
#cheeseTopping{
	background: url('../images/Toppings-small.png') 0 0;
	height:3rem;
	width:5rem;
}
#cheeseTopping:hover,.chSelect{
	background:url('../images/Toppings-small.png') 0 30px !important;
}
#pepperoniTopping{
	background: url('../images/Toppings-small.png') 245px 0;
	height:3rem;
	width:4rem;
}
#pepperoniTopping:hover,.peSelect{
	background: url('../images/Toppings-small.png') 245px 30px !important;
}
#sausageTopping{
	background: url('../images/Toppings-small.png') 195px 0;
	height:3rem;
	width:4rem;
}
#sausageTopping:hover,.saSelect{
	background: url('../images/Toppings-small.png') 195px 30px !important;
}
#p3ppersTopping{
	background: url('../images/Toppings-small.png') 145px 0;
	height:3rem;
	width:4rem;
}
#p3ppersTopping:hover,.p3Select{
	background: url('../images/Toppings-small.png') 145px 30px !important;
}
#olivesTopping{
	background: url('../images/Toppings-small.png') 110px 0;
	height:3rem;
	width:4rem;
}
#olivesTopping:hover,.olSelect{
	background: url('../images/Toppings-small.png') 110px 30px !important;
}
#onionsTopping{
	background: url('../images/Toppings-small.png') 70px 0;
	height:3rem;
	width:3.5rem;
}
#onionsTopping:hover,.onSelect{
	background: url('../images/Toppings-small.png') 70px 30px !important;
}
#mushroomsTopping{
	background: url('../images/Toppings-small.png') 30px 0;
	height:3rem;
	width:3rem;
}
#mushroomsTopping:hover,.muSelect{
	background: url('../images/Toppings-small.png') 30px 30px !important;
}
#someToppings{
	margin:0;
	padding:1rem 0 0 0;
	list-style:none;
	text-align:center;	
}
#someToppings:not(:empty){
	min-height:15rem;
	border-radius:10rem;
}
#h3Ord{
	width:100%;
	text-align:center;
	line-height:1.5;
}
#expMo,#h3Ord + div{
	width:15%;
}
#expYr{
	width:25%;
	float:right;
	margin-right:1.5rem;
}
#loader{
	margin-left:1rem;
}
#loader.bigLoader{
	height:5rem;
	width:5rem;
	margin:14.5rem 0 0 15.7rem;
	position: absolute;
}
#addPizza{
	cursor:pointer;
}
#firstName,#lastName{
	width:100%;
}
#yourEmail{
	width:90%;
	position:absolute;
}
@media only screen and (min-width:320px){
html{
font-size:62.5%;
}
}
@media only screen and (min-width:330px){
html{
font-size:64.5%;
}
}
@media only screen and (min-width:340px){
html{
font-size:66.5%;
}
}
@media only screen and (min-width:350px){
html{
font-size:68.5%;
}
}
@media only screen and (min-width:360px){
html{
font-size:70.5%;
}
}
@media only screen and (min-width:370px){
html{
font-size:72.5%;
}
}
@media only screen and (min-width:380px){
html{
font-size:74.5%;
}
}
@media only screen and (min-width:390px){
html{
font-size:76.5%;
}
}
@media only screen and (min-width:400px){
html{
font-size:78.5%;
}
}
@media only screen and (min-width:410px){
html{
font-size:80.5%;
}
}
@media only screen and (min-width:420px){
html{
font-size:82.5%;
}
}
@media only screen and (min-width:430px){
html{
font-size:84.5%;
}
}
@media only screen and (min-width:440px){
html{
font-size:86.5%;
}
}
@media only screen and (min-width:450px){
html{
font-size:88.5%;
}
}
@media only screen and (min-width:460px){
html{
font-size:90.5%;
}
}
@media only screen and (min-width:470px){
html{
font-size:92.5%;
}
}
@media only screen and (min-width:480px){
html{
font-size:94.5%;
}
}
@media only screen and (min-width:490px){
html{
font-size:96.5%;
}
}
@media only screen and (min-width:500px){
html{
font-size:98.5%;
}
}
@media only screen and (min-width:510px){
html{
font-size:100.5%;
}
}
@media only screen and (min-width:520px){
html{
font-size:102.5%;
}
}
@media only screen and (min-width:530px){
html{
font-size:104.5%;
}
}
@media only screen and (min-width:540px){
html{
font-size:106.5%;
}
}
@media only screen and (min-width:550px){
html{
font-size:108.5%;
}
}
@media only screen and (min-width:560px){
html{
font-size:110.5%;
}
}
@media only screen and (min-width:570px){
html{
font-size:112.5%;
}
}
@media only screen and (min-width:580px){
html{
font-size:114.5%;
}
}
@media only screen and (min-width:590px){
html{
font-size:116.5%;
}
}
@media only screen and (min-width:600px){
html{
font-size:118.5%;
}
}
@media only screen and (min-width:610px){
html{
font-size:120.5%;
}
}
@media only screen and (min-width:620px){
html{
font-size:122.5%;
}
}
@media only screen and (min-width:630px){
html{
font-size:124.5%;
}
}
@media only screen and (min-width:640px){
html{
font-size:126.5%;
}
}
@media only screen and (min-width:650px){
html{
font-size:128.5%;
}
}
@media only screen and (min-width:660px){
html{
font-size:130.5%;
}
}
@media only screen and (min-width:670px){
html{
font-size:132.5%;
}
}
@media only screen and (min-width:680px){
html{
font-size:134.5%;
}
}
@media only screen and (min-width:690px){
html{
font-size:136.5%;
}
}
@media only screen and (min-width:700px){
html{
font-size:138.5%;
}
}
@media only screen and (min-width:710px){
html{
font-size:140.5%;
}
}
@media only screen and (min-width:720px){
html{
font-size:142.5%;
}
}
@media only screen and (min-width:730px){
html{
font-size:144.5%;
}
}
@media only screen and (min-width:740px){
html{
font-size:146.5%;
}
}
@media only screen and (min-width:750px){
html{
font-size:148.5%;
}
}
@media only screen and (min-width:760px){
html{
font-size:150.5%;
}
}
@media only screen and (min-width:770px){
html{
font-size:152.5%;
}
}
@media only screen and (min-width:780px){
html{
font-size:154.5%;
}
}
@media only screen and (min-width:790px){
html{
font-size:156.5%;
}
}
@media only screen and (min-width:800px){
html{
font-size:158.5%;
}
}
@media only screen and (min-width:810px){
html{
font-size:160.5%;
}
}
@media only screen and (min-width:820px){
html{
font-size:162.5%;
}
}
@media only screen and (min-width:830px){
html{
font-size:164.5%;
}
}
@media only screen and (min-width:840px){
html{
font-size:166.5%;
}
}
@media only screen and (min-width:850px){
html{
font-size:168.5%;
}
}
@media only screen and (min-width:860px){
html{
font-size:170.5%;
}
}
@media only screen and (min-width:870px){
html{
font-size:172.5%;
}
}
@media only screen and (min-width:880px){
html{
font-size:174.5%;
}
}
@media only screen and (min-width:890px){
html{
font-size:176.5%;
}
}
@media only screen and (min-width:900px){
html{
font-size:178.5%;
}
}
@media only screen and (min-width:910px){
html{
font-size:180.5%;
}
}
@media only screen and (min-width:920px){
html{
font-size:182.5%;
}
}
@media only screen and (min-width:930px){
html{
font-size:184.5%;
}
}
@media only screen and (min-width:940px){
html{
font-size:186.5%;
}
}
@media only screen and (min-width:950px){
html{
font-size:188.5%;
}
}
@media only screen and (min-width:960px){
html{
font-size:190.5%;
}
}
@media only screen and (min-width:970px){
html{
font-size:192.5%;
}
}
@media only screen and (min-width:980px){
html{
font-size:194.5%;
}
}
@media only screen and (min-width:990px){
html{
font-size:196.5%;
}
}
@media only screen and (min-width:1000px){
html{
font-size:198.5%;
}
}
@media only screen and (min-width:1010px){
html{
font-size:200.5%;
}
}
@media only screen and (min-width:1020px){
html{
font-size:202.5%;
}
}
@media only screen and (min-width:1030px){
html{
font-size:204.5%;
}
}
@media only screen and (min-width:1040px){
html{
font-size:206.5%;
}
}
@media only screen and (min-width:1050px){
html{
font-size:208.5%;
}
}
@media only screen and (min-width:1060px){
html{
font-size:210.5%;
}
}
@media only screen and (min-width:1070px){
html{
font-size:212.5%;
}
}
@media only screen and (min-width:1080px){
html{
font-size:214.5%;
}
}
@media only screen and (min-width:1090px){
html{
font-size:216.5%;
}
}
@media only screen and (min-width:1100px){
html{
font-size:218.5%;
}
}
@media only screen and (min-width:1110px){
html{
font-size:220.5%;
}
}
@media only screen and (min-width:1120px){
html{
font-size:222.5%;
}
}
@media only screen and (min-width:1130px){
html{
font-size:224.5%;
}
}
@media only screen and (min-width:1140px){
html{
font-size:226.5%;
}
}
@media only screen and (min-width:1150px){
html{
font-size:228.5%;
}
}
@media only screen and (min-width:1160px){
html{
font-size:230.5%;
}
}
@media only screen and (min-width:1170px){
html{
font-size:232.5%;
}
}
@media only screen and (min-width:1180px){
html{
font-size:234.5%;
}
}
@media only screen and (min-width:1190px){
html{
font-size:236.5%;
}
}
@media only screen and (min-width:1200px){
html{
font-size:238.5%;
}
}
@media only screen and (min-width:1210px){
html{
font-size:240.5%;
}
}
@media only screen and (min-width:1220px){
html{
font-size:242.5%;
}
}
@media only screen and (min-width:1230px){
html{
font-size:244.5%;
}
}
@media only screen and (min-width:1240px){
html{
font-size:246.5%;
}
}
@media only screen and (min-width:1250px){
html{
font-size:248.5%;
}
}
@media only screen and (min-width:1260px){
html{
font-size:250.5%;
}
}
@media only screen and (min-width:1270px){
html{
font-size:252.5%;
}
}